@tailwind base;
@tailwind components;
@tailwind utilities;
/* "tropicalPeach":"#FFC7B4",
"celendon":"#B7CCBD",
"silverBlue":"#8A9A99",
"pinkChanpion":"#F0D8CC" */

:root{
    --bg:white;
    --tropicalPeach:#FFC7B4;
    --celendon:#B7CCBD;
    --silverBlue:#8A9A99;
    --pinkChanpion:#F0D8CC;
}
.containers{
    max-height: 100%;
}
.wrapper{
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
}

@media screen and (max-width:1536px) {
    .wrapper{
        max-width: 1366px;
    }
}
@media screen and (max-width:1280px) {
    .wrapper{
        max-width: 1024px;
    }
}
@media screen and (max-width:1024px) {
    .wrapper{
        max-width: 768px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media screen and (max-width:768px) {
    .wrapper{
        max-width: 640px;
    }
}
@media screen and (max-width:425px) {
    .wrapper{
        max-width: 100vw;
        padding-left: 0;
        padding-right: 0;
    }
}